* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  /* background-image: url('/assets/img/background.png'); */
}

header {
  width: 1440px;
  height: 657px;
  padding-top: 120px;
  padding-left: 155px;
}
header h4 {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.35px;
}

header h2 {
  width: 874px;
  height: 280px;
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -0.7px;
}

article section .title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.35px;
  font-weight: bold;
  padding-left: 165px;
}

.content {
  width: 1110px;
  height: 2359px;
  margin-left: 165px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  border: 1px solid black;

}

.content-1 {
  margin-bottom: 80px;
  border: 1px solid black;
}

.content-1 img {
  padding-bottom: 24px;
}

.content-1 p {
  font-size: 16px;
}

.content-1-1 h4 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 12px;
}

.content-1-1 .write {
  font-size: 16px;
  font-family: Open Sans;
  line-height: 28px;
  padding-bottom: 88px;
}













.content-2 {
  margin-bottom: 80px;
  border: 1px solid black;
}

.content-2 img {
  padding-bottom: 24px;
}

.content-2 p {
  font-size: 16px;
}

.content-2-2 h4 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 12px;
}

.content-2-2 .write {
  font-size: 16px;
  font-family: Open Sans;
  line-height: 28px;
  padding-bottom: 88px;
}












.content-3 {
  margin-bottom: 80px;
  border: 1px solid black;
}

.content-3 img {
  padding-bottom: 24px;
}

.content-3 p {
  font-size: 16px;
}

.content-3-3 h4 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 12px;
}

.content-3-3 .write {
  font-size: 16px;
  font-family: Open Sans;
  line-height: 28px;
  padding-bottom: 88px;
}

footer {
  padding-left: 165px;
}

footer .contact{
  width: 1110px;
  height: 369px;
  border: 1px solid black;
  padding-top: 120px;
  padding-left: 165px;
  padding-bottom: 203px;
}

footer .contact h3{
  font-size: 40px;
  width: 569px;
  height: 286px;
  border: 1px solid black;
  line-height: 48px;
}