* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

header h4, h2, .title, .sub-title, .note, footer .contact p, h3, a{
  font-family: Montserrat;
}

article section .write, caption {
  font-family: Open Sans;
}

header {
  width: 1440px;
  height: 657px;
  padding-top: 120px;
  padding-left: 155px;
}
header h4 {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.35px;
}

header h2 {
  width: 874px;
  height: 280px;
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -0.7px;
}

.linkedin-logo {
  width: 48px;
  height: 48px;
}
.github-logo {
  width: 39px;
  height: 39px;
}

article section .title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.35px;
  font-weight: bold;
  padding-left: 165px;
}

.content {
  width: 1110px;
  height: 733px;
  margin-left: 165px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  border: 1px solid lightgray;
  border-radius: 1%;
  margin-bottom: 80px;
}

.content-1 {
  margin-bottom: 80px;
  border: 1px solid black;
}

.content-1 img {
  padding-bottom: 24px;
}

.content-1 p {
  font-size: 16px;
}

.content-1-1 h4 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 12px;
}

.content-1-1 .write {
  font-size: 16px;
  font-family: Open Sans;
  line-height: 28px;
  padding-bottom: 88px;
}

footer {
  padding-left: 165px;
  width: 1275px;
  height: 609px;
}

footer .contact{
  border: 1px solid black;
  padding-top: 120px;
  padding-left: 165px;
  padding-bottom: 120px;
}

footer .contact h3{
  font-size: 40px;
  width: 650px;
  height: 286px;
  border: 1px solid black;
  line-height: 48px;
}

footer .contact h3 a {
  font-size: 40px;
  text-decoration: none;
}